@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
* {
    box-sizing: border-box;
    background-color: #9CA3AF;
    font-family: 'Bangers', cursive;
   
}

:root{
    --primary: #1D4ED8 ;
    --secondary: #6D28D9;
    --white: #ffffff;
}
.Text{
    text-align: center;
}
#main{
    font-size: 500%;
}
#instruction{
    font-size: 200%;
}
section{
    background-color: #E5E7EB;
    padding: 2rem;
    width:  50%;
    height: 400px;
    border-radius: 3rem;
    margin-left: 25%;
    
}
.screen-number{
    height: 60px;
    font-size: 50px;
    width: 25%;
    background-color: gray;
    text-align: center;
    margin-left: 35%;
}
hr{
    border: 5px solid black;
  border-radius: 5px;
}
p{
    background-color:#E5E7EB ;
    font-size: 130%;  
}
.start-message{
    margin-left: 10%;
}
input{
    height: 70px;
    font-size: 150%;
    width: 10%;
    background-color: gray;
    margin-left: 15%;
    text-align: center;
}
.input{
    background-color: #E5E7EB;
}
button{
   height: 30px;
   width: 15%;
   margin-top: 8%;
   padding: 1rem 1rem 1rem 1rem;
   font-size: 90%;
   border 1px solid black;
}
.check{
    margin-left: 4%;
}
.refresh{
    margin-left: 6%;
}
.score{
    font-size: 15px;
    background-color:#E5E7EB ;
    position: absolute;
    left: 55%;
    top: 55%;
}
span{
    background-color: #E5E7EB;
    
}